@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Myriad Pro Bold'), url('/fonts/MYRIADPRO-BOLD.woff') format('woff');
  }
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}