.body{
  height: 850px;
  width: 100vw;
  background-color: #10101a;
  scroll-snap-type: mandatory;
}
.g{
  position: fixed;
  z-index: 10200;
  background: #10101a;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  overflow: hidden;
}
.no-scroll{
  overflow: hidden !important;
}
.spantxt{
  text-align: center;
  color: rgba(108, 108, 111, 1);
  font-family: IBM Plex Mono,monospace;
  font-size: 2em;
  font-weight: 1000;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #626266,
  1px 1px 1px #626266,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

@media screen and ( min-height : 900px) {
  .body{
    height: 1000px;
  }
}
@media screen and ( max-width : 600px) {
  .spantxt{
    font-size: 1.5em;
  }
}
@media screen and ( max-width : 380px) {
  .spantxt{
    font-size: 1.3em;
  }
}